!**/packages/build/
!*.[Cc]ache/
!.axoCover/settings.json
!/uiautomator/app-debug-androidTest.apk
!/uiautomator/app-debug.apk
!gradle-wrapper.jar
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/Properties/launchSettings.json
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.ap_
*.apk
*.appx
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.ctxt
*.dbmdl
*.dbproj.schemaview
*.dex
*.dotCover
*.ear
*.gpState
*.ilk
*.iws
*.jar
*.jfm
*.jks
*.jmconfig
*.launch
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.rar
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.stackdump
*.suo
*.svclog
*.swp
*.tar.gz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.war
*.xsd.cs
*.zip
*_i.c
*_i.h
*_p.c
*~
*~.nib
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.JustCode
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.axoCover/*
.buildpath
.builds
.cache-main
.com.apple.timemachine.donotpresent
.cproject
.cr/
.externalNativeBuild
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.gradle/
.gradletasknamecache
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/dictionaries
.idea/libraries
.idea/replstate.xml
.idea/tasks.xml
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.navigation/
.ntvs_analysis.dat
.paket/paket.exe
.recommenders
.recommenders/
.sass-cache/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.vs/
.worksheet
/.gtm/
/.idea/workspace.xml
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
Desktop.ini
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated_Code/
Icon
Network Trash Folder
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
Temporary Items
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
artifacts/
atlassian-ide-plugin.xml
bin/
bld/
build/
captures/
cmake-build-debug/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
csx/
dlldata.c
ecf/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
freeline.py
freeline/
freeline_project_description.json
gen/
google-services.json
gradle-app.setting
hs_err_pid*
ipch/
local.properties
nCrunchTemp_*
node_modules/
orleans.codegen.cs
out/
paket-files/
proguard/
project.fragment.lock.json
project.lock.json
publish/
rcf/
screenshots/screen-*.png
typings/
x64/
x86/
~$*
screenshots/screen-*.png